* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f6f6;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #61176e;
}

.box {
    width: 450px;
    border-bottom: 25px solid #c628cb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2 {
    color: #fff;
    background: #c628cb;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box ol {
    position: relative;
    background: #fff;
}

.box ol li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
}

.box ol li:hover {
    background: #d95ee4;
    color: #fff;
}

.box ol li a:hover {
    color: #fff;
}

.box ol li span {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: #d95ee4;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}

.box ol li:hover span {
    background: #fff;
    color: #d95ee4;
}
